/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* Utilites */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
img {
  width: 100%;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.btn {
  font-size: 20px;
  font-weight: 400;
  background: #ff900e;
  color: #fff;
  border-radius: 8px;
  padding: 11px 20px;
  border: none;
}

/* header section styles */
header {
  background: rgba(255, 144, 14, 0.1);
}
.header-section {
  padding: 20px 0;
}
/* nav bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  font-weight: 700;
  font-size: 45px;
}
.logo a {
  text-decoration: none;
  color: #131313;
}
.nav-items {
}
.nav-items ul {
  display: flex;
  list-style: none;
}
.nav-items ul li {
}
.nav-items ul li a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}
/* banner content styles */
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
  padding: 50px 0;
}
.banner-title {
  font-size: 64px;
  color: #131313;
  font-weight: 700;
  text-align: center;
}
.banner-discription {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  text-align: center;
  margin: 20px 0;
}

/* feature section styles */
.feature {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
  width: 900px;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 50%;
}
.feature-img img {
  border-radius: 8px;
}
.feature-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 50px;
  width: 50%;
}
.feature-info {
  line-height: 25px;
  margin: 20px 0;
  text-align: left;
}
/* experience section styles */
.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.experience-title {
  font-size: 45px;
  color: #131313;
  font-weight: 700;
  margin: 15px 0;
  width: 400px;
}
.experience-discription {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  line-height: 20px;
}
.experience-subtitle {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  padding: 10px 0;
}
.experience-content {
  width: 80%;
  margin-right: 54px;
}
.single-experience {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin: 20px 0;
}
.experience-img {
  width: 800px;
  height: auto;
}
/* fact section styles */
.fact-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin: 15px 0;
}
.fact-discription {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  width: 542px;
}
.boxs {
  display: flex;
  align-items: center;
  margin: 20px 57px;
}
.single-box {
  width: 240px;
  height: 240px;
  border: 1px solid #ff900e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}
.single-box img {
  width: 45px;
  height: 45px;
}
.box-number {
  font-size: 45px;
  font-weight: 600;
  color: #424242;
  margin: 10px;
}
.box-name {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
/* sponspor section styles */
.sponspor {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
.sponspor-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponspor-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.sponspor-discription {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  width: 50%;
  text-align: center;
  margin: 20px 0;
}
.sponspor-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-brand img {
  width: 166px;
}
/* footer section styles */
.footer {
  background: #fff4e7;
  border-radius: 8px;
  padding: 10px;
}
.footer-discription {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  padding: 10px;
}
footer {
  padding-bottom: 50px;
}
/* =========================
  Responsive styles
=============================*/
/* for mobile responsive */
@media only screen and (max-width: 576px) {
  /* navbar */
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-items ul {
    flex-direction: column;
    margin-left: 0;
  }
  .logo h1 {
    font-weight: 700;
    font-size: 40px;
    margin-left: 20px;
  }

  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 40px;
  }

  /* feature section styles */
  .feature {
    display: flex;
  }
  .feature-img {
    grid-template-columns: repeat(1, 1fr);
  }
}
.hide {
  display: none;
}
